ul li{list-style: none;}
*{margin: 0;padding: 0;}

#main{width:1000px;height:2000px;background-color:#ccc;margin:auto;}
#left{width: 670px;height: 5000px;float: left;}
#right{width: 200px;height: 5000px;float: right;}


#publish{width: 100%;height: 110px;}
.uhead{width: 110px;height: 110px;float: left;display: block;}
#publishul{width: 560px;height: 110px;float: left;}
#publishul li{width: 140px;height: 110px;float: left;}
#publishul li span{width: 100%;height: 100%;display: block;}
#pbtxt{background-position: -112px 0;background-image: url("../images/UserCenter/publishbg.png");}
#pbimg{background-position: -252px 0;background-image: url("../images/UserCenter/publishbg.png");}
#pbmusic{background-position: -392px 0;background-image: url("../images/UserCenter/publishbg.png");}
#pbvideo{background-position: -532px 0;background-image: url("../images/UserCenter/publishbg.png");}

.pbcon{width: 100%;height: auto;overflow: hidden;}
.pbconl{width: 68px;height: 68px;float: left;position: relative;}
.fdhead{width: 64px;height: 64px;}
.fdheadmenu{width: 110px;height: 144px;position: absolute;display: none;background-color: #000;color:#fff;left: 0;top: 70px;}
.pbconr{width: 600px;height: auto;float: right;}
.pbconrhd{width: 100%;height: 24px;}
.pbconrcnt{width: 100%;}
.pbconrbtm{width: 100%;height: 50px;}









