*{margin: 0;padding: 0;}
img{border:0;}
ul,li{list-style: none;}
body{text-align: center;}
a{text-decoration: none;}

#wapper{width: 100%;height: 100%;}
#header{width: 100%;height: 15%;position: relative;background-color: #b3d8f4;}
#headerpic{display: block;width: 60px;height: 60px;position: absolute;left: 200px;top: 10px;}
#headerpicmain{width: 60px;height: 60px;}
#headertext{width: 500px;height: 60px;position: absolute;left:440px;top: 15px;font-family: 宋体;font-size: 28px;font-weight: 700;line-height: 50px;color: #7e9ec0;}


#content{width: 100%;height:85%;position: relative; }
#loginBlock{width: 295px;height: 300px;padding: 13px 14px 15px 14px; position: absolute;left: 500px; top: 65px;background-image: url("../images/index/btn.png");}
#loginBlock1{width: 295px;height: 392px;padding: 13px 14px 15px 14px;position: absolute;left: 500px; top: 65px;background-image: url("../images/index/btn.png");background-position: -323px 0;display: none;}

.loginFunc{width: 295px;height: 47px;}
.login{width: 147px;height: 47px;font-family:verdana ;font-size:14px;cursor: pointer;text-align: center;float: left;color: #626262;line-height: 46px;}
.register{width: 147px;height: 47px;font-family:verdana ;font-size:14px;cursor: pointer;text-align: center;float: left;color: #626262;line-height: 46px;}
.loginForm{width: 295px;height:200px;padding: 40px 0 0 0;position:relative;}
.loginCrowd{width: 295px;height: 225px;}
.idInputLine{width: 245px;height: 42px;margin:0 0 20px 25px;position: relative;background-image: url("../images/index/loginblock.jpg"); background-position:0 -352px;}
.idPic{display: block; width: 14px;height: 16px; background-image: url("../images/index/loginblock.jpg");background-position: -154px -64px;float: left;position: absolute;top: 12px;left: 5px;}
.idInput{display: block; width: 205px;height: 19px;padding: 9px 0 10px 0;margin:2px 0 0 25px; font-size: 14px;font-family: verdana;line-height: 17px;float: left;border:0px ;border-radius: 5px;background-image: url("../images/index/zhanghao.jpg");background-repeat: no-repeat;}
#idInput1{display: block; width: 205px;height: 19px;padding: 9px 0 10px 0;margin:2px 0 0 25px; font-size: 14px;font-family: verdana;line-height: 17px;float: left;border:0px ;border-radius: 5px;background-image: url("../images/index/youxiang.jpg");background-repeat: no-repeat;}

.pwdInputLine{width: 245px;height: 42px;margin:0 0 20px 25px;position: relative;line-height: 42px;background-image: url("../images/index/loginblock.jpg"); background-position:0 -352px; }
.pwdPic{display: block; width: 14px;height: 16px; background-image: url("../images/index/loginblock.jpg");background-position: -178px -64px;float: left;position: absolute;top: 12px;left: 5px;}
.pwdInput{display: block; width: 205px;height: 19px;padding: 9px 0 10px 0;margin:2px 0 0 25px; font-size: 14px;font-family: verdana;line-height: 17px;float: left;border:0px ;border-radius: 5px;background-image: url("../images/index/mima.jpg");background-repeat: no-repeat;}
#pwdInput1{display: block; width: 205px;height: 19px;padding: 9px 0 10px 0;margin:2px 0 0 25px; font-size: 14px;font-family: verdana;line-height: 17px;float: left;border:0px ;border-radius: 5px;background-image: url("../images/index/querenmima.jpg");background-repeat: no-repeat;}
.loginFormbtn{width: 245px;height: 43px;margin:18px 0 0 25px;position: relative;}
.loginbtn{display: block; width: 110px;height: 38px;line-height: 38px; text-align: center;background-image: url("../images/index/loginblock.jpg");background-position: 0 -208px;border-radius: 3px;border: 0px;font-family: verdana;font-size: 14px;color: #fff;font-weight: 700;cursor: pointer;position: absolute;left: 65px;top: 0px;}